.reactMarkDown {
    font-family: system-ui, sans-serif;
    line-height: 1.75;
    width: 100%;
}

.reactMarkDown h1 {
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 700;
    margin: 2rem 0 1.5rem;
}

.reactMarkDown h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem;
}

.reactMarkDown h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1.5rem 0 1rem;
}

.reactMarkDown p {
    white-space: unset;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0;
    white-space: normal;
}

.reactMarkDown a {
    color: blue;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.reactMarkDown ol {
    list-style-type: decimal;
    padding-left: 2rem;
    margin: 1em 0;
}

.reactMarkDown ol li::marker {
    font-weight: 900;
}

.reactMarkDown ul li,
.reactMarkDown ol li {
    margin-bottom: 0.5em;
    display: list-item;
}

.reactMarkDown blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1em;
    color: #666;
    margin: 1.5em 0;
    font-style: italic;
    background: var(--background-darker);
}

.reactMarkDown pre {
    background: var(--background-darker);
    color: #f8f8f2;
    padding: 1em;
    overflow-x: auto;
    border-radius: 0.5rem;
    margin: 1.5rem 0;
}

.reactMarkDown code {
    background: var(--foreground);
    color: var(--foreground);
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 0.95em;
}

.reactMarkDown pre code {
    background: none;
    padding: 0;
}

.reactMarkDown img {
    background: var(--background-darker);
    width: 100%;
    max-width: 100%;
}

.reactMarkDown img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

@media (min-width: 768px) {
    .reactMarkDown img {
        max-width: 50%;
    }
}

.reactMarkDown table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
}

.reactMarkDown th,
.reactMarkDown td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
}

.reactMarkDown hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 2rem 0;
}
